$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$secondFontColor: #ffffff ;

$sectionCardBackground: #21232e;
$sectionCardunderlineBg: #14a0c7;
$buttonCollor:#699900;
$sectionBannerGradient:linear-gradient(45deg, rgba(97,145,29,1) 0%, rgba(44,90,221,1) 100%);
$textColor: #2c2f3c;
$backgroundImage: url(/img/m-h-day.jpg) center/cover no-repeat;

$background:(
    bodyBackgroud: #ffffff
);