$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Fresca', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$secondFontColor: #ffffff;

$sectionCardBackground: #3b3f50;
$sectionCardunderlineBg: #ff4e33;
$buttonCollor:#e3ac00;
$sectionBannerGradient:linear-gradient(45deg, rgba(227,172,1,1) 0%, rgba(146,44,84,1) 100%);
$textColor:  #ffffff;
$backgroundImage: url(/img/m-h-night.jpg) center/cover, no-repeat;

$background:(
    bodyBackgroud: #21232e
);